footer {
    height: 15vh;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

footer img {
    cursor: pointer;
}

footer nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    color: #FFFFFF;
    font-family: 'Mulish-Bold', sans-serif, serif;
}