* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    min-height: 1103px;
    overflow: hidden;
}

.hero-container {
    padding-top: 250px;
    position: relative;
}

.hero-inner {
    max-width: 540px;
}

@media screen and (max-width: 768px) {
    .hero-inner {
        margin: 0 auto;
    }
}

.hero-dotted-rectangle{
    position: absolute;
    left: 98.3%;
    top: 106.33%;
}

.hero-image {
    position: absolute;
    left: 40.3%;
    top: 40.33%;
}

.hero-image-vector {
    padding-left: 15px;
}

.hero-illustration > img {
    max-width: 120%;
}

.hero-heading {
    width: 310px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 20px;
}

.hero-paragraph {
    width: 380px;
    font-size: 1.125rem;
    margin-bottom: 16px;
    line-height: 1.875rem;
    color: #aabdc5;
}

.hero-bottom {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.hero-download-button {
    margin-top: 30px;
    width: 189px;
    height: 56px;
    font-weight: 500;
    color: deepskyblue;
    border-radius: 50px;
    background-color: white;
    border-color: deepskyblue;
}

.hero-button.outlined {
    background: transparent;
    color: black;
    border: 2px solid black;
    margin-left: 30px;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(192, 240, 229, 0.8);
}

@media screen and (max-width: 768px) {
    .hero-container {
        padding-top: 100px;
    }

    .hero-illustration {
        display: none;
    }

    .hero-bottom {
        flex-direction: column;
    }

    .hero-button {
        font-size: 1.25rem;
        width: 249px;
        height: 48px;
    }

    .hero-button.outlined {
        margin-left: 0;
        margin-top: 20px;
    }
}

